<h3 class="tasks-header">
  Lista de cosillas por hacer
</h3>

<p class="notice-container"><%= notice %></p>

<%= link_to 'Salir', destroy_user_session_path, method: :delete, class: ['action-button', 'log-out-button'] %>﻿

<div class="tasks-container">
  <div class="tasks-todo">
    <h2 class="tasks-status">
      To-Do's
    </h2>

    <ul class="tasks-list">
      <% @tasks.todo.each do |task| %>
      <% if task.user == current_user %>
      <li class="tasks-item">
        <%= render 'task', task: task %>
        <div class="task-buttons">
          <%= link_to fa_icon("pencil"), edit_task_path(task), class: 'task-button' %>
          <%= link_to fa_icon("trash-o"), task, class: 'task-button',
          method: :delete, data: { confirm: 'Estás seguro?' } %>
        </div>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>

  <div class="tasks-buttons">
    <%= link_to 'Nueva Tarea', new_task_path, class: "action-button" %>
  </div>

  <div class="tasks-completed">
    <h2 class="tasks-status">
      Completado
    </h2>

    <ul class="tasks-list">
      <% @tasks.completed.each do |task| %>
      <% if task.user == current_user %>
      <li class="tasks-item">
        <%= render 'task', task: task %>
        <div class="task-buttons">
          <%= link_to fa_icon("trash-o"), task, class: 'task-button',
          method: :delete, data: { confirm: 'Estás seguro?' } %>
        </div>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>
